$base-color: #222531;

$base-color2: rgb(128, 138, 157);
$base-color3: #ccc;

$background-color: #fafafd;
$divider-color: #eff2f5;
$shadow-color-8: rgb(88 102 126 / 8%);
$shadow-color-12: rgb(88 102 126 / 12%);

$search-background: rgb(239, 242, 245);
$search-color: rgb(166, 176, 195);

$link-color: rgb(56, 97, 251);
$white: #ffffff;
$black: #000000;
