{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSameLine": false,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}