$breakpoints: (
  mobilePortrait: 391px,
  mobileLandscape: 581px,
  tabletPortrait: 821px,
  tabletLandscape: 1181px,
  desktop: 1600px,
);

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width. For examples: (mobile, tablet, desktop).
// $show-breakpoints: (mobilePortrait, mobileLandscape, tabletPortrait, tabletLandscape, desktop);

@use 'sass-mq' with (
  $breakpoints: $breakpoints
); // $show-breakpoints: $show-breakpoints);

// helpers
@import './helpers/globals';

// components
@import './components/header';
@import './components/footer';
@import './components/text';
@import './components/antd';

// pages
@import './pages/home';
@import './pages/details';

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  height: 100%;
  width: 100%;
  background-color: $background-color;
  overflow-x: hidden;
}

div,
span,
p,
label,
input,
select,
section,
footer,
header,
nav,
ul,
li,
button,
tr,
td,
th {
  font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  overflow-wrap: break-word;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
}

.hidden {
  display: none !important;
}
